.btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s color 0.3s, border-color 0.3s;
}

/* Style pour les boutons primaires (par exemple, bouton S'inscrire) */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

/* Style pour les boutons de formulaire par défaut (par exemple, bouton Mot de passe oublié) */
.btn-default {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

.btn:hover {
  background-color: #45a049;
}

.btn-hover:hover {
  background-color: #fff;
  color: #333;
}

.section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}



.social-icons-bottom-right .nav-link:hover {
  color: #555;
}

.first-btn .btn:hover {
  background-color: #ffcc00;
  color: #333;
  border: 1px solid #ffcc00;
}

.social-icons-bottom-right .nav-link {
  margin-left: 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.social-icons-bottom-right {
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 15px;
}



.navbar-toggler {
  border-color: #fff;
}

.btn {
  background-color: #4CAF50;
  /* Couleur de fond du bouton */
  color: #fff;
  /* Couleur du texte du bouton */
  padding: 10px 20px;
  /* Espacement à l'intérieur du bouton */
  font-size: 18px;
  text-transform: uppercase;
  /* Texte en majuscules */
  border: none;
  /* Supprimer la bordure du bouton */
  border-radius: 25px;
  /* Coins arrondis du bouton */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.btn-hover:hover {
  background-color: #fff;
  color: #333;
}

/* Styles pour la section about */
.about {
  background-image: url('images/planet-7014517.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-color: rgba(0, 0, 0, 0.4);  Couleur d'arrière-plan avec transparence */
  padding: 50px 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}



.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.card-body {
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body:hover {
  background-color: white;
}

.card-obj:hover {
  transform: scale(1.02);
}

#hidden-paragraph.collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#toggle-button {
  display: none;
  margin-top: 10px;
}

/* Styles pour le footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

footer img {
  max-width: 100%;
}

.footer-btn {
  margin-top: 20px;
}

.footer p {
  font-size: 14px;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 10px;
}



.card-body:hover {
  background-color: white;
}

/* Styles pour les icônes de réseaux sociaux */
.nav-link i {
  font-size: 16px;
  color: #fff;
}

.card:hover .card-body {
  background-color: #fff;
  /* Couleur de fond gris clair */
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.first-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  margin-top: 20px;
}



.card-expand-button {
  text-align: center;
  margin-top: 10px;
}

.card-expand-button button {
  color: #555;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.card-expand-button button.btn {
  background-color: transparent;
  /* Couleur de fond du bouton */
  color: #555;
  /* Couleur du texte du bouton */
  border: 2px solid #555;
  /* Supprime la bordure du bouton */
  border-radius: 5px;
  /* Ajoute un peu de courbure aux coins du bouton */
  padding: 10px 20px;
  /* Ajoute de l'espace à l'intérieur du bouton */
  font-size: 16px;
  /* Taille de police du bouton */
  font-weight: bold;
  /* Texte en gras */
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Animation de transition */
  text-decoration: none;
}

.card-expand-button button.btn:hover {
  background-color: #555;
  /* Couleur de fond du bouton au survol */
  color: #fff;
  /* Couleur du texte du bouton au survol */
  text-decoration: none;
  /* Supprime la soulignement au survol */
}

.card-expand-button button:hover {
  background-color: #333;
  text-decoration: underline;
}



.card-obj {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card-obj:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #777;
  line-height: 1.4;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #fff;
  color: #333;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 30px;
}

.btn-transparent:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Style pour les éléments cachés */
.collapse:not(.show) {
  display: none;
}



/* Ajoutez une classe personnalisée pour le style du texte */
.hidden-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limite le texte à 3 lignes */
  -webkit-box-orient: vertical;
}

.hidden-text.expanded {
  overflow: visible;
  white-space: normal;
  -webkit-line-clamp: unset;
  /* Supprime la limitation de lignes */
}



.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}



.card {
  position: relative;
  perspective: 2000px;
  /* Définit la perspective pour l'effet 3D */
}






.collapse.show {
  display: block;
  /* Afficher le texte lorsque la classe "show" est ajoutée */
}

/* Style personnalisé pour la section "Nous rejoindre" */
.nous-rejoindre {
  background-color: #f8f9fa;
  padding: 60px 0;
  text-align: center;
}

.nous-rejoindre h3 {
  font-size: 36px;
  color: #333;
  font-weight: bold;
}

.nous-rejoindre p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.nous-rejoindre img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  /* Ajoute des coins arrondis à l'image */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  /* Ajoute une ombre douce à l'image */
}

.nous-rejoindre .btn-transparent,
.nous-rejoindre .btn-transparent {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 30px;
  /* Ajoute des coins arrondis aux boutons */
  margin-top: 20px;
}

.nous-rejoindre .btn-transparent {
  color: #555;
  font-size: 20px;
  /* Augmente la taille de la police du bouton */
  padding: 15px 30px;
  /* Ajoute de l'espace à l'intérieur du bouton */
  border-radius: 50px;
  transition: background-color 0.3s ease;
  border: 2px solid #222;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.nous-rejoindre .nous-rejoindre {
  background-color: transparent;
  border-color: #555;
  color: #fff;
  transition: background-color 0.3s ease;
}

.nous-rejoindre .btn-transparent:hover,
.nous-rejoindre .nous-rejoindre:hover {
  background-color: #333;
  color: white;
}

/* Style personnalisé pour la classe bottom-button */
.bottom-button {
  margin-bottom: 30px;
  /* Ajustez la marge inférieure selon vos préférences */
}

/* Style pour le bouton "Faire un don" */
.nous-rejoindre .nous-rejoindre {
  background-color: #333;
  /* Couleur de fond du bouton */
  color: #fff;
  /* Couleur du texte du bouton */
  font-size: 20px;
  /* Augmente la taille de la police du bouton */
  padding: 15px 30px;
  /* Ajoute de l'espace à l'intérieur du bouton */
  border: 2px solid #555;
  border-radius: 50px;
  /* Arrondit les coins du bouton */
  margin-top: 20px;
  /* Ajoute de l'espace en haut du bouton */
  display: block;
  /* Change le bouton en élément de bloc pour le centrer */
  margin-left: auto;
  /* Centre horizontalement le bouton */
  margin-right: auto;
  /* Centre horizontalement le bouton */
  transition: background-color 0.3s;
  /* Ajoute une transition de couleur en survol */
}

/* Style pour l'image */
.nous-rejoindre img {
  max-width: 100%;
  /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
  height: auto;
  /* Empêche l'image de se déformer */
  margin: 30px 0;
  /* Ajoute de la marge en haut et en bas de l'image */
  display: block;
  /* Centre l'image horizontalement */
  margin-left: auto;
  /* Centre l'image horizontalement */
  margin-right: auto;
  /* Centre l'image horizontalement */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* Ajoute une ombre à l'image pour donner du volume */
}

#cadre-rejoindre {
  padding-top: 40px;
}





.hover-link {
  position: relative;
  text-decoration: none;
  color: #333;
}

.hover-link::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  //background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
}

.hover-link:hover::after {
  opacity: 1;
}